* {
 
 margin: 0;
 box-sizing: border-box;

}

body {

background: #7B6B43;
color: #ECEBE4;
min-height: 100vh;
display: grid;
place-items: center;

}

h1#Cont {

font-size: xx-large;
font-family: Arial, Helvetica, sans-serif;



}

button {

 border-radius: 5px;
 border: 0;
 border-bottom: #352208;
 background: #E1BB80;
 font-size: larger;
 color: #352208;
 

 
}

section {

background: #352208 ;
padding: 20px;
border-radius: 5px;
text-align: center;

}

p {

font-size: 100px;

}